<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd ">
		
	<!-- 读取properties配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- JNDI获取数据源(使用dbcp连接池) destroy-method销毁连接  scope单例-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close" scope="singleton" >
		 <property name="driverClassName" value="${driver}"/>
		 <property name="url" value="${url}"/>
		 <property name="username" value="${user}"/>
		 <property name="password" value="${password}"/>
		 <!-- 连接一个小时后超时 -->
   		 <property name="timeBetweenEvictionRunsMillis" value="3600000" />
    	 <property name="minEvictableIdleTimeMillis" value="3600000" />
	</bean>
	<!-- 事务管理 __@Transaction/AOP-->
	<tx:annotation-driven/>
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- 配置mybitas SqlSessionFactoryBean  -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
	    <property name="dataSource" ref="dataSource" />  
	    <property name="configLocation" value="classpath:mybatis-config.xml" />  
    </bean>  
	<!-- Mapping接口所在包名，spring自动查找并生成实例 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
         <property name="basePackage" value="cn.hs.dao"/>  
    </bean>
</beans>